../.git
../.gitignore
../*.md
../*.gif
../*.png
../*.jpg
../*.jpeg
../__pycache__
../*.pyc
../*.pyo
../*.pyd
../.Python
../env
../venv
../.venv
../pip-log.txt
../pip-delete-this-directory.txt
../.pytest_cache
../.coverage
../htmlcov
../.DS_Store
../.vscode
../.idea
../*.swp
../*.swo
../*~
../datasets/
../experiments/
../EKFresult/
../wandb/
